{% extends 'base.html.twig' %}

{% block title %}404 - Page Non Trouvée{% endblock %}

{% block body %}
    <h1>Page Non Trouvée</h1>
    <p>Nous sommes désolés, nous n'avons pas trouvé la page que vous cherchez</p>
    <a href="{{ path('app_home') }}">Retourner à la page d'acceuil</a>
{% endblock %}
