{% extends 'base.html.twig' %}

{% block body %}
    <h1>Application de restauration</h1>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('user_profile') }}">
            <button>Voir votre profile</button>
        </a>
        <a href="{{ path('restaurant_list')}}">
            <button>Voir les restaurants</button>
        </a>
    {% else %}
        <a href="{{ path('app_login') }}">
            <button>Se connecter</button>
        </a>
    {% endif %}
{% endblock %}