{% extends 'base.html.twig' %}

{% block body %}
    <h1>Application de restauration</h1>
    
    <div class="section-bienvenue">
        <p>Bienvenue sur notre application de restauration, votre guide ultime pour découvrir et explorer des restaurants ! Que vous soyez à la recherche d'un nouvel endroit où dîner, ou que vous souhaitiez revoir vos favoris, nous sommes là pour vous aider.</p>
    </div>
    
    <div class="section-actions">
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('user_profile') }}">
                <button>Voir votre profil</button>
            </a>
            <a href="{{ path('restaurant_list') }}">
                <button>Voir les restaurants</button>
            </a>
        {% else %}
            <p>Pour accéder à toutes les fonctionnalités de notre application, veuillez vous connecter ou créer un compte.</p>
            <a href="{{ path('app_login') }}">
                <button>Se connecter</button>
            </a>
            <a href="{{ path('app_register') }}">
                <button>S'inscrire</button>
            </a>
        {% endif %}
    </div>

    <div class="section-fonctionnalites">
        <h2>Fonctionnalités principales</h2>
        <ul>
            <li>Découvrez des restaurants proches de chez vous ou partout dans le monde.</li>
            <li>Consultez les avis et notes des autres utilisateurs pour faire votre choix.</li>
            <li>Ajoutez des restaurants à vos favoris pour les retrouver facilement.</li>
            <li>Accédez à votre profil pour gérer vos informations et préférences.</li>
        </ul>
    </div>
{% endblock %}
