{% extends 'base.html.twig' %}

{% block body %}
    <h1>Application de restauration</h1>
    <a href="{{ path('restaurant_list')}}">
        <button>Voir les restaurants</button>
    </a>
{% endblock %}